* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 2.5vh;
}

/* Deklaracja zmiennych */
:root {
    --yelow: #ffe81f;
}

/* Import i deklaracja fontów */

@font-face {
    font-family: swTheme;
    src: url("/assets/fonts/Starjedi.ttf") format('truetype');
}

@font-face {
    font-family: swText;
    src: url("/assets/fonts/NewsGothicStd.otf") format("opentype");
}

@font-face {
    font-family: swText;
    src: url("/assets/fonts/NewsGothicStd-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: credits;
    src: local('OCR A Extended');
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: -1;
}

header {
    height: 18%;

}

header img {
    height: 100%;
    display: block;
    margin: auto;
}

main {
    height: 77%;

}

footer {
    height: 5%;
    position: relative;

}

.footer-wrapper {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.footer-wrapper img {
    height: 50%;
}

.footer-wrapper p {
    margin: 0 4px;
    color: var(--yelow);
    font-family: credits, sans-serif;
    font-size: 1.5rem;
    /* trzeba będzie ogarnąć RWD czcionek (?) */
}

/* ekran startowy */
.play {
    display: block;
}

/* .play img {
    position: absolute;
    width: 240px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
} */

.play .button-play {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 75px;
    width: 270px;
    background-color: var(--yelow);
    /* test var yellow */
    border: none;
    border-radius: 5px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: swTheme, sans-serif;
    padding-bottom: 7px;
    box-shadow: 0px 0px 20px 0px rgba(255, 232, 31, 0.75);

}

.button-play:hover {
    box-shadow: 0px 0px 15px 10px rgba(255, 232, 31, 0.60);
}

/* Nazwa użytkownika */
.start {
    display: none;
}

.start .input-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* width: 80vw; */
    top: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);

}

.input-wrapper label {
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--yelow);
    font-family: swTheme, sans-serif;
}

.start .input-wrapper input {
    height: 75px;
    width: 270px;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    border: 5px solid var(--yelow);
    box-shadow: 0px 0px 10px 0px rgba(255, 232, 31, 0.75);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: swText, sans-serif;
    font-weight: bold;
    text-align: center;
}

.input-wrapper input:focus {
    box-shadow: 0px 0px 15px 5px rgba(255, 232, 31, 0.75);
}

.start .input-wrapper button {
    background-color: transparent;
    color: var(--yelow);
    border: none;
    font-size: 50px;
    letter-spacing: 1px;
    font-family: swTheme, sans-serif;
    text-shadow: 0px 0px 5px rgba(255, 232, 31, 0.75);
}

.input-wrapper button:hover {
    text-shadow: 0px 0px 15px rgba(255, 232, 31, 0.60);
}

/* Menu główne  */
.menu {
    display: none;
}

.menu img {
    position: absolute;
    width: 240px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.menu .input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 40vh;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu .input-wrapper p {
    padding: 10px 0;
    font-size: 18px;
    text-align: justify;
    font-weight: bold;
    color: yellow;
}

.menu .input-wrapper button {
    width: 100%;
    height: 46px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.menu a {
    position: absolute;
    bottom: 10px;
    font-size: 28px;
    color: yellow;
    text-decoration: none;
    letter-spacing: 5px;
    left: 50%;
    transform: translateX(-50%);
}

/* Wybór trybu quizu */
.categories {
    display: none;
}

.categories img {
    position: absolute;
    width: 240px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.categories .input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 62vh;
    width: 95vw;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 2px solid yellow;
    padding: 6px;
}

.categories .input-wrapper>p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.categories .input-wrapper>div {
    padding: 5px;
    background-color: yellow;
    color: black;
    border-radius: 8px;
}

.categories .input-wrapper>div>p {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.categories .input-wrapper>div>div {
    background-color: black;
    color: white;
    text-align: justify;
    font-size: 14px;
    padding: 5px;
}

.categories .button-startquiz {
    background-color: transparent;
    color: yellow;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
}

.categories a {
    position: absolute;
    bottom: 10px;
    font-size: 28px;
    color: yellow;
    text-decoration: none;
    letter-spacing: 5px;
    left: 50%;
    transform: translateX(-50%);
}

/* Quiz */

.boxLarge {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.module-wrapper {
    height: 98%;
    margin-bottom: 2%;
    width: 87%;
    border: 5px solid var(--yelow);
    /* border-radius: 5px; */
    box-shadow: 0px 0px 10px 3px rgba(255,232,31,0.50);
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer-wrapper {
    background-color: violet;
    height: 13%;
    width: 90%;
    margin: auto;
}

#quiz-wrapper {
    height: 84%;
    margin: 1% 5% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quizImage-wrapper {
    height: 56%;
}

#quizImage {
    height: 100%;
    border: 5px solid var(--yelow);
}   

#quizQuestions-wrapper{
    width: 100%;
    margin-top: 2%;
    height: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questionText {
    font-family: swTheme;
    font-size: 1em;
    color: var(--yelow);
}

#quizAnswers-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3%;
    align-items: center;
}

.answer {
    background-color: var(--yelow);
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: swText;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.answer:hover{
    background-color: white;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
}

/* Zasady */

#rules-wrapper {
    height: 100%;
    width: 98%;
    display: grid;
    grid-template-areas: 
    "header"
    "intro"
    "part1"
    "part2"
    "part3";
    grid-template-rows: 6% auto;
    gap: 1%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
#rules-wrapper::-webkit-scrollbar {
    display: none;
  }


#rulesHeader {
    grid-area: header;
    height: 100%;
}

.headers {
    font-family: swTheme, sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    color: var(--yelow);
    font-size: 1.2em;
    text-align: center;
}

.rulesContent {
    width: 90%;
    justify-self: center;
}

#rulesIntro {
    grid-area: intro;
}

#rules-wrapper p{
    font-family: swText;
    text-align: justify;
    font-size: 0.8em;
    color: white;
}

#rules-wrapper h5 {
    font-family: swText;
    text-align: center;
    font-size: 0.8em;
    padding: 5px 0;
    color: var(--yelow);
}

#rules1 {
    /* background-color: turquoise; */
    grid-area: part1;
}

#rules2 {
    /* background-color: thistle; */
    grid-area: part2;
}

#rules3 {
    grid-area: part3;
    padding-bottom: 10%;
}

/* Tablica wyników */

.highscores {
    display: none;
}

.highscores .input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 70vh;
    width: 95vw;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 2px solid yellow;
    padding: 6px;
}

.highscores .input-wrapper>p {
    font-size: 24px;
    color: yellow;
    font-weight: bold;
}

.highscores .input-wrapper .label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
}

.highscores .input-wrapper .label p {
    display: inline-block;
    width: 30%;
    text-align: center;
    color: yellow;
    font-weight: bold;
}

.highscores .input-wrapper .result {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: yellow;
    color: black;
    border-radius: 8px;
    padding-left: 10px;
}

.highscores .input-wrapper .result p {
    display: inline-block;
}

.highscores .input-wrapper .result .time {
    padding-right: 10px;
    float: right
}

.highscores .input-wrapper button {
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    color: yellow;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}