* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 2.5vh;
}

*:focus{
    outline: none;
}

/* Deklaracja zmiennych */
:root {
    --yelow: #ffe81f;
    --enemyPosition: 0%;
    --playerPosition: 0%;
    --enemyPosition: 0%;
    --playerPosition: 0%;
    --correctAnswer: green;
    --incorrectAnswer: red;
}

/* Import i deklaracja fontów */

@font-face {
    font-family: swTheme;
    src: url("/assets/fonts/Starjedi.ttf") format('truetype');
}

@font-face {
    font-family: swText;
    src: url("/assets/fonts/NewsGothicStd.otf") format("opentype");
}

@font-face {
    font-family: swText;
    src: url("/assets/fonts/NewsGothicStd-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: credits;
    src: local('OCR A Extended');
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

body:hover{
    cursor:default;
}

#body-wrapper {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 1s ease-in-out;
    box-shadow: 0px 1px 7px 4px rgba(0,0,0,0.35);
}

.lift {
    transform: translateY(-20%);
}


canvas {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: -1;
}

header {
    height: 18%;
    position: relative;

}

header img {
    height: 100%;
    display: block;
    margin: auto;
}

.home {
    width: auto;
    height: 20%;
    position: absolute;
    bottom: 20%;
    right: 73%;
    display: none;
    align-items: center;
}

.home p {
    font-family: swTheme;
    color: var(--yelow);
    margin-bottom: 6%;
    font-weight: lighter;
    font-size: 0.8em;
}

.home img {
    height: 70%;
}

.home:hover{
    transform: scale(1.2);
    -webkit-filter: drop-shadow(0px 0px 5px #ffe81fbf);
    filter: drop-shadow(0px 0px 5px #ffe81fbf);
}

main {
    height: 77%;

}

footer {
    height: 5%;
    position: relative;

}

.footer-wrapper {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.footer-wrapper img {
    height: 50%;
}

.footer-wrapper p {
    margin: 0 4px;
    color: var(--yelow);
    font-family: credits, sans-serif;
    font-size: 1.5rem;
    /* trzeba będzie ogarnąć RWD czcionek (?) */
}

/* ekran startowy */
.play {
    display: block;
}

.play .button {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 75px;
    width: 270px;
    background-color: var(--yelow);
    /* test var yellow */
    border: none;
    border-radius: 5px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: swTheme, sans-serif;
    padding-bottom: 7px;
    box-shadow: 0px 0px 20px 0px rgba(255, 232, 31, 0.75);

}

.play .button:hover {
    box-shadow: 0px 0px 15px 10px rgba(255, 232, 31, 0.60);
}

/* Nazwa użytkownika */
.start {
    display: none;
}

.start .input-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* width: 80vw; */
    top: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);

}

.input-wrapper label {
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--yelow);
    font-family: swTheme, sans-serif;
}

.start .input-wrapper input {
    height: 75px;
    width: 270px;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    border: 5px solid var(--yelow);
    box-shadow: 0px 0px 10px 0px rgba(255, 232, 31, 0.75);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: swText, sans-serif;
    font-weight: bold;
    text-align: center;
}

.input-wrapper input:focus {
    box-shadow: 0px 0px 15px 5px rgba(255, 232, 31, 0.75);
}

#button-next, #button-startquiz {
    background-color: transparent;
    color: var(--yelow);
    border: none;
    font-size: 50px;
    letter-spacing: 1px;
    font-family: swTheme, sans-serif;
    text-shadow: 0px 0px 5px rgba(255, 232, 31, 0.75);
}

#button-next:hover, #button-startquiz:hover {
    text-shadow: 0px 0px 15px rgba(255, 232, 31, 0.60);
}

/* Menu główne  */

.menu-wrapper {
    align-self: flex-start;
    width: 87%;
    max-width: 800px;
    border: 5px solid var(--yelow);
    box-shadow: 0px 0px 10px 3px #ffe81f80;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.menu-wrapper h2{
    font-family: swText;
    color: var(--yelow);
    font-weight: bold;
    font-size: 1.2em;
    text-align: justify;
    text-align-last: center;
    width: 90%;
    margin: 10px 0 20px;
}

h2 p {
    display: inline;
    font-size: 1em;
    color: white;
}

.menu-wrapper .button {
    background-color: var(--yelow);
    border: none;
    width: 90%;
    height: auto;
    text-align: center;
    font-family: swTheme;
    font-size: 32px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin: 5px 0;
}

.menu-wrapper .button:hover{
    background-color: white;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
}

/* Wybór trybu quizu */

#modeTitle {
    font-family: swTheme;
    color: var(--yelow);
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 1.2em;
    margin: 3px 0;
    height: 8%;
}

.mode-wrapper {
    height: 80%;
    width:87%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mode {
    text-align: center;
    border-radius: 5px;
    margin: 2% 0;
    height: 31%;
    display: flex;
    flex-direction: column;
}

.modeDisabled {
    background-color: var(--yelow);
}

.modeDisabled:hover {
    box-shadow: 0px 0px 10px 3px #ffe81f75;
}

.modeEnabled {
    background-color: white;
}

.modeEnabled:hover {
    box-shadow: 0px 0px 10px 3px #ffffff75;
}

.mode p {
    font-family: swTheme;
    font-weight: normal;
    padding-bottom: 0;
    font-size: 1.5em;
}

.description {
    background-color: black;
    margin: 0 10px 10px;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.description p {
    width: 90%;
    font-family: swText;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 0.88em;
}

label {
    font-family: swTheme;
    color: var(--yelow);
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 1.2em;
}

.div-level {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

select {
    background-color: black;
    color: white;
    padding: .2em;
    margin-left: .5em;
    border: var(--yelow) solid .3em;
    box-shadow: 0px 0px 10px 3px rgba(255,232,31,0.50);
    -moz-appearance:none;
}

select > option {
    -moz-appearance:none;
    background-color: black;
    color: white;
}

#button-startquiz {
    font-size: 2em;
}

/* Quiz */

.boxLarge {
    display: none;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.module-wrapper {
    height: 98%;
    margin-bottom: 2%;
    width: 87%;
    max-width: 1000px;
    border: 5px solid var(--yelow);
    /* border-radius: 5px; */
    box-shadow: 0px 0px 10px 3px rgba(255,232,31,0.50);
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#timer-wrapper {
    height: 13%;
    width: 90%;
    margin: 2% auto auto;
    display: grid;
    grid:20% 80% / 12.5% 25% 25% 25% 12.5%;
    justify-items: center;
    position: relative;
}

.text {
    font-family: swText;
    font-weight: lighter;
    font-size: 0.45em;
    letter-spacing: 1px;
    color: var(--yelow);
    text-align: center;
}

.line {
    width: 2px;
    background-color: var(--yelow);
    opacity: 0.5;
}

#startL, #finishL {
    width: 3px;
    opacity: 0.8
}

#start {
    transform: translate(-40%);
}

#finish {
    transform: translate(40%);
}

#start, #startL {
    justify-self: start;
}

#finish, #finishL {
    justify-self: end;
}

#deathStar {
    position: absolute;
    height: 75%;
    z-index: 50;
    right: 0;
    bottom: 0;
    transform: translate(70%);
}

.progress {
    position: absolute;
    left: 3px;
    height: 10%;
}

#progressE {
    top: 38%;
    transform: translate(0, -50%);
    width: var(--enemyPosition);
    background-color: #f02929;
    box-shadow: 0px 0px 10px 3px #f0292980;
    z-index: 8;
}

#progressP {
    top: 80%;
    transform: translate(0, -50%);
    width: var(--playerPosition);
    background-color: #328bf6;
    box-shadow: 0px 0px 10px 3px #328bf680;
    z-index: 8;
}

.ship {
    position: absolute;
    height: 40%;
}

#enemyS {
    z-index: 9;
    top: 38%;
    left: var(--enemyPosition);
    transform: translate(-50%, -50%);
}

#playerS {
    z-index: 10;
    top: 80%;
    transform: translate(0, -50%);
    left: var(--playerPosition);
}

#quiz-wrapper {
    height: 84%;
    width: 90%;
    margin: 1% 5% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
}

#quizImage-wrapper {
    height: 56%;
}

#quizImage {
    height: 100%;
    border: 5px solid var(--yelow);
    object-fit: cover;
    object-position: top;
}   

#quizQuestions-wrapper{
    width: 100%;
    margin-top: 2%;
    height: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questionText {
    font-family: swTheme;
    font-size: 1em;
    color: var(--yelow);
}

#quizAnswers-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3%;
    align-items: center;
}

.answer {
    background-color: var(--yelow);
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: swText;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.answer:not(.no-hover):hover {     
    background-color: white;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
}

.correct {
    background-color: var(--correctAnswer);
}

.incorrect {
  background-color: var(--incorrectAnswer);
}

/* Zasady */

#rules-wrapper {
    height: 100%;
    width: 98%;
    padding: 0 5%;
    display: grid;
    grid-template-areas: 
    "header"
    "intro"
    "part1"
    "part2"
    "part3";
    grid-template-rows: 6% auto;
    gap: 1%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
#rules-wrapper::-webkit-scrollbar {
    display: none;
  }


#rulesHeader {
    grid-area: header;
    height: 100%;
}

.headers {
    width: 100%;
    font-family: swTheme, sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    color: var(--yelow);
    font-size: 1.2em;
    text-align: center;
    border-bottom: 2px solid var(--yelow);
    margin-bottom: 5px;
    box-shadow: inset 0px -25px 30px -30px rgba(255,232,31,0.50);
}

.rulesContent {
    justify-self: center;
}

#rulesIntro {
    grid-area: intro;
}

#rules-wrapper p{
    font-family: swText;
    text-align: justify;
    font-size: 0.8em;
    color: white;
}

#rules-wrapper h5 {
    font-family: swText;
    text-align: center;
    font-size: 0.8em;
    padding: 5px 0;
    color: var(--yelow);
}

#rules1 {
    grid-area: part1;
}

#rules2 {
    grid-area: part2;
}

#rules3 {
    grid-area: part3;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tablica wyników */

.highScores .module-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 70vh;
    width: 95vw;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 2px solid yellow;
    padding: 6px;
}

.highScores .module-wrapper>p {
    font-size: 24px;
    color: yellow;
    font-weight: bold;
}

.highScores .module-wrapper .label {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-gap: 1rem;
    justify-content: center;
    align-content: center;
    font-size: 18px;
}

.highScores .module-wrapper .label p {
    display: inline-block;
    margin: 1rem 1rem;
    width: 30%;
    text-align: center;
    color: yellow;
    font-weight: bold;
}

.highScores .module-wrapper .scores-grid {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-gap: 1rem;
}

.highScores .module-wrapper .scores-grid.scores-grid-global {
    overflow-y: scroll;
    overflow-x: hidden;
}

.highScores .module-wrapper .scores-grid ul li{
    background-color: #ffe81f;
    color: black;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    font-weight: bolder;
    border-radius: 10px;
}
.highScores .module-wrapper .scores-grid ul li p{
    text-align: center;
}

.highScores .module-wrapper button {
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    color: yellow;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.highScores .scores-grid.scores-grid-global::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
.highScores .scores-grid.scores-grid-global::-webkit-scrollbar-track {
    background: inherit;
}

/* Handle */
.highScores .scores-grid.scores-grid-global::-webkit-scrollbar-thumb {
    background: darkslategray;
    border-radius: 10px;
}

/* Handle on hover */
.highScores .scoresListGlobal::-webkit-scrollbar-thumb:hover {
    background: white;
}
/* Ustawienia hoverów */

.button:hover{
    cursor: pointer;
}

/* Credits */

.credits {
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-color: #303336;
    height: 20vh;
    width: 100%;
    display: grid;
    grid-template-areas:
    "creditsText creditsText"
    "1 2";
    grid-template-rows: auto;
    grid-template-columns: auto;
    padding: 10px 5%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    gap: 1% 10px;
}

#creditsText {
    grid-area: creditsText;
    text-align: justify;
    text-align-last: center;
    font-family: credits, sans-serif;
    font-size: 0.8em;
    color: var(--yelow);
}

#credits a {
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}

#camp {
    height: 25%;
}

#camp:hover{
    -webkit-filter: drop-shadow(0px 0px 5px #fdc640);
    filter: drop-shadow(0px 0px 5px #fdc640);
}

#github {
    height: 35%;
    margin-bottom: 3%;
}

#github:hover{
    -webkit-filter: drop-shadow(0px 0px 5px #0287cf);
    filter: drop-shadow(0px 0px 5px #0287cf);
}

/*Utilities*/

.loader {
    display: none;
    border: 16px solid black;
    border-top: 16px solid yellow;
    border-bottom: 16px solid yellow;
    border-radius: 50%;
    margin:  2rem auto;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* RWD */

/* Dla trybu landscape */

@media (orientation: landscape) {
    .lift {
        transform: translateY(-15%);
    }
    .home {
        height: 43%;
    }
    .home p {
        font-size: 1.5em;
    }
    #div-categories .module-wrapper {
        height: 80%;
    }
    #div-categories .mode-wrapper {
        flex-direction: row;
        width: 95%;
    }
    .mode {
        height: 70%;
        font-size: 1.25em;
        margin: 2% 1%;
    }
    .description {
        font-size: 1em;
    }
    #quiz-wrapper {
        flex-direction: row;
    }
    #quizQuestions-wrapper{
        align-self: center;
        height: 70%;
        margin-left: 2%;
        margin-top: 0;
    }
    #quizImage-wrapper {
        height: 70%;
    }
    #timer-wrapper {
        height: 25%;
    }
    #questionText {
        font-size: 1.4em;
    }
    .answer span{
        font-size: 1em;
    }
    #rules-wrapper {
        grid-template-areas: 
        "header header"
        "intro intro"
        "part1 part3"
        "part2 part3";
        grid-template-rows: 10% auto;
        font-size: 1.2em;
        padding: 0 1% 1%;
        gap: 1% 2%;
    }
    #rules-wrapper p {
        font-size: 0.9em;
    }
    #rules3 {
        padding: 0;
    }
    #rules3 img {
        width: 80%;
    }
    #credits {
        height: 15vh;
        grid-template-areas:
        "1 creditsText 2";
        gap: 0 5%;
        grid-template-columns: 2fr 3fr 2fr;
        grid-template-rows: 100%;
    }
    #creditsText {
        font-size: max(0.9em, 12px);
    }
}
