* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Deklaracja zmiennych */
:root {
    --yelow: #ffe81f;
}

/* Import i deklaracja fontów */

@font-face {
    font-family: "swTheme";
    src: url("/assets/fonts/Starjedi.ttf") format('truetype');
}

@font-face {
    font-family: swText;
    src: url("/assets/fonts/NewsGothicStd.otf") format("opentype");
}

@font-face {
    font-family: swText;
    src: url("/assets/fonts/NewsGothicStd-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: credits;
    src: local('OCR A Extended');
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
}

header {
    height: 18%;
    background-color: aquamarine; /* bgColor tylko dla dev */
}

header img {
    height: 100%;
    display: block;
    margin: auto;
}

main {
    height: 77%;
    background-color: blueviolet; /* bgColor tylko dla dev */
}

footer {
    height: 5%;
    position: relative;
    background-color: coral; /* bgColor tylko dla dev */
}

.footer-wrapper {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.footer-wrapper img {
    height: 50%;
}

.footer-wrapper p {
    margin: 0 4px;
    color: var(--yelow);
    font-family: credits, sans-serif;
    font-size: 1.5rem; /* trzeba będzie ogarnąć RWD czcionek (?) */
}

/* I ekran */
.play {
    display: block;
}

/* .play img {
    position: absolute;
    width: 240px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
} */

.play .button-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 200px;
    background-color: var(--yelow); /* test var yellow */
    border: none;
    border-radius: 10px;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: swTheme, sans-serif; /* test fonta swTheme */
}

.play a {
    position: absolute;
    bottom: 10px;
    font-size: 28px;
    color: yellow;
    text-decoration: none;
    letter-spacing: 5px;
    left: 50%;
    transform: translateX(-50%);
}

/* II ekran */
.start {
    display: none;
}

.start img {
    position: absolute;
    width: 240px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.start .input-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 20vh;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.start .input-wrapper p {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: yellow;
    font-family: swText, sans-serif; /* test fonta swText:bold */
}

.start .input-wrapper input {
    width: 100%;
    height: 50px;
    font-size: 24px;
    padding: 10px;
    border: 5px solid yellow;
    background-color: black;
    color: white;
    font-weight: bold;
}

.start .input-wrapper button {
    background-color: transparent;
    color: yellow;
    font-size: 24px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

.start a {
    position: absolute;
    bottom: 10px;
    font-size: 28px;
    color: yellow;
    text-decoration: none;
    letter-spacing: 5px;
    left: 50%;
    transform: translateX(-50%);
}



/* III ekran  */
.menu {
    display: none;
}

.menu img {
    position: absolute;
    width: 240px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.menu .input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 40vh;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu .input-wrapper p {
    padding: 10px 0;
    font-size: 18px;
    text-align: justify;
    font-weight: bold;
    color: yellow;
}

.menu .input-wrapper button {
    width: 100%;
    height: 46px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.menu a {
    position: absolute;
    bottom: 10px;
    font-size: 28px;
    color: yellow;
    text-decoration: none;
    letter-spacing: 5px;
    left: 50%;
    transform: translateX(-50%);
}

/* IV ekran */
.categories {
    display: none;
}

.categories img {
    position: absolute;
    width: 240px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.categories .input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 62vh;
    width: 95vw;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 2px solid yellow;
    padding: 6px;
}

.categories .input-wrapper>p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.categories .input-wrapper>div {
    padding: 5px;
    background-color: yellow;
    color: black;
    border-radius: 8px;
}

.categories .input-wrapper>div>p {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.categories .input-wrapper>div>div {
    background-color: black;
    color: white;
    text-align: justify;
    font-size: 14px;
    padding: 5px;
}

.categories .button-startquiz {
    background-color: transparent;
    color: yellow;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
}

.categories a {
    position: absolute;
    bottom: 10px;
    font-size: 28px;
    color: yellow;
    text-decoration: none;
    letter-spacing: 5px;
    left: 50%;
    transform: translateX(-50%);
}